<!-- home.component.html -->
<div class="grid grid-cols-1 lg:grid-cols-3 gap-10 px-4 max-w-7xl mx-auto">
    <div class="lg:col-span-2 space-y-6">
        <div class="carousel w-full h-50 sm:h-58 md:h-66 lg:h-74 xl:h-82 rounded-xl shadow-md">
            <div id="slide1" class="carousel-item relative w-full">
                <img src="assets/banner1.jpg" class="w-full object-cover rounded-xl" />
                <div class="absolute flex justify-between transform -translate-y-1/2 left-4 right-4 top-1/2">
                <a href="#slide3" class="btn btn-circle btn-sm">❮</a>
                <a href="#slide2" class="btn btn-circle btn-sm">❯</a>
                </div>
            </div>
            <div id="slide2" class="carousel-item relative w-full">
                <img src="assets/banner2.jpg" class="w-full object-cover rounded-xl" />
                <div class="absolute flex justify-between transform -translate-y-1/2 left-4 right-4 top-1/2">
                <a href="#slide1" class="btn btn-circle btn-sm">❮</a>
                <a href="#slide3" class="btn btn-circle btn-sm">❯</a>
                </div>
            </div>
            <div id="slide3" class="carousel-item relative w-full">
                <img src="assets/banner3.jpg" class="w-full object-cover rounded-xl" />
                <div class="absolute flex justify-between transform -translate-y-1/2 left-4 right-4 top-1/2">
                <a href="#slide2" class="btn btn-circle btn-sm">❮</a>
                <a href="#slide1" class="btn btn-circle btn-sm">❯</a>
                </div>
            </div>
        </div>


        <div class="bg-white rounded-xl shadow p-4">
            <h2 class="text-xl font-bold mb-3">🔥 실시간 인기글 모음</h2>

            <a
                *ngFor="let post of popularPosts"
                class="block"
                [routerLink]="['/post', post.id]"
            >
                <div class="flex items-center justify-between p-2 rounded hover:bg-gray-100 cursor-pointer">
                <div class="flex items-center space-x-2">
                    <span class="text-sm font-bold text-yellow-600">{{ post.likes }}</span>
                    <div>
                    <div class="text-sm font-semibold">{{ post.title }}</div>
                    <div class="text-xs text-gray-500">
                        {{ post.category }} · {{ post.author }} · {{ post.time }}
                    </div>
                    </div>
                </div>
                <span class="text-xs text-gray-400">💬 {{ post.comments }}</span>
                </div>
            </a>
        </div>
    </div>

    <div class="space-y-6 max-w-xs w-full ml-10">
        <div class="bg-white rounded-xl shadow p-2">
            <img src="assets/DummyAD1.jpg" class="w-full object-cover" />
        </div>
        <div class="bg-white rounded-xl shadow p-5">
            <h2 class="text-base font-bold mb-3">📊 NBA 득점 순위</h2>
            <ul class="text-sm space-y-1">
                <li class="flex justify-between">
                    <span>1. 루카 돈치치</span>
                    <span>32.1</span>
                </li>
                <li class="flex justify-between">
                    <span>2. 야니스</span>
                    <span>31.7</span>
                </li>
                <li class="flex justify-between">
                    <span>2. 야니스</span>
                    <span>31.7</span>
                </li>
                <li class="flex justify-between">
                    <span>2. 야니스</span>
                    <span>31.7</span>
                </li>
                <li class="flex justify-between">
                    <span>2. 야니스</span>
                    <span>31.7</span>
                </li>
            </ul>
        </div>

        <div class="bg-white rounded-xl shadow p-5">
            <h2 class="text-base font-bold mb-3">📊 실시간 득점 순위</h2>
            <ul class="text-sm space-y-1">
                <li class="flex justify-between">
                    <span>1. 루카 돈치치</span>
                    <span>32.1</span>
                </li>
                <li class="flex justify-between">
                    <span>2. 야니스</span>
                    <span>31.7</span>
                </li>
                <li class="flex justify-between">
                    <span>2. 야니스</span>
                    <span>31.7</span>
                </li>
                <li class="flex justify-between">
                    <span>2. 야니스</span>
                    <span>31.7</span>
                </li>
                <li class="flex justify-between">
                    <span>2. 야니스</span>
                    <span>31.7</span>
                </li>
            </ul>
        </div>
        <div class="bg-white rounded-xl shadow p-5">
            <h2 class="text-base font-bold mb-3">📊 실시간 득점 순위</h2>
            <ul class="text-sm space-y-1">
                <li class="flex justify-between">
                    <span>1. 루카 돈치치</span>
                    <span>32.1</span>
                </li>
                <li class="flex justify-between">
                    <span>2. 야니스</span>
                    <span>31.7</span>
                </li>
                <li class="flex justify-between">
                    <span>2. 야니스</span>
                    <span>31.7</span>
                </li>
                <li class="flex justify-between">
                    <span>2. 야니스</span>
                    <span>31.7</span>
                </li>
                <li class="flex justify-between">
                    <span>2. 야니스</span>
                    <span>31.7</span>
                </li>
            </ul>
        </div>
    </div>
</div>